$hoverBackgroundColor: #ededf0;



.card {
    &:hover {
        cursor: pointer;
        background-color: $hoverBackgroundColor;

        .card-title {
            text-decoration: underline;
        }
    }
}
.card-img-top {
    height: 15rem;
    object-fit: cover;
}
